@import "tailwindcss";

@theme {
  --color-primary: #002045;
  --color-primary-container: #1a365d;
  --color-primary-fixed: #d6e3ff;
  --color-primary-fixed-dim: #adc7f7;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed: #001b3c;
  --color-secondary: #00677d;
  --color-secondary-container: #50d9fe;
  --color-secondary-fixed: #b3ebff;
  --color-on-secondary-fixed: #001f27;
  --color-surface: #f7f9fc;
  --color-surface-variant: #e0e3e6;
  --color-surface-container: #eceef1;
  --color-surface-container-low: #f2f4f7;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-highest: #e0e3e6;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #43474e;
  --color-outline-variant: #c4c6cf;
  --color-status-success: #10B981;

  --spacing-card-padding: 24px;
  --spacing-stack-md: 16px;
  --spacing-margin-mobile: 16px;
  --spacing-margin-desktop: 32px;

  --shadow-card: 0px 4px 20px rgba(26, 54, 93, 0.08);
}